#search{
    min-height:400px;

}

#addsearch_content{
    margin-top:60px;
    border-radius: 4px;
    overflow: hidden;
    min-height:300px;
  
  }
  
  /* #addsearch_content .head{
    width:120%;
    height:60px;
    background:#dc1f2b;
    overflow: hidden;
    margin-left:-10%;
    
  } */
  .goback{
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:0 12px;
    background:#dc1f2b;
    font-size:14px;
    color:white;
    position:absolute;
    left:10px;
    top:10px;
    z-index: 99999;
    margin-left:5px;
  }
  .goback:hover{
    background:#26B8F3;
  }
  .goback .fa{
    margin-right:5px; 
  }
  
 