
#questionList_content{
    margin-top:60px;
    border-radius: 4px;
    overflow: hidden
}
.head{
    width:120%;
    height:60px;
    background:#dc1f2b;
    overflow: hidden;
    margin-left:-10%;
    
}
#questionList{
    
}
 .goback{
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:0 12px;
    background:#dc1f2b;
    font-size:14px;
    color:white;
    position:absolute;
    left:10px;
    top:10px;
    z-index: 99999;
    
}