
#question_content{
    margin-top:60px;
    border-radius: 4px;
    overflow: hidden
}
#question_content .head{
    width:120%;
    height:60px;
    background:#dc1f2b;
    overflow: hidden;
    margin-left:-10%;
    color:white;
    line-height:60px;
    text-align:center;
    font-size:20px;
    
}
#question{
    
}
#question_content .goback{
    display:inline-block;
    height:40px;
    line-height:40px;
    padding:0 12px;
    background:#dc1f2b;
    font-size:14px;
    color:white;
    position:absolute;
    left:10px;
    top:10px;
    z-index: 99999;
}
#question_content .goback:hover{
    background:#26B8F3;
  }
.goback .fa{
    margin-right:5px; 
}
#question_content .list label{
    display: block;
}
#question_content .list label input{
    margin-right:10px;



}