

#result_content{
  margin-top:60px;
  border-radius: 4px;
  overflow: hidden
}

#result_content .head{
  width:120%;
  height:60px;
  background:#dc1f2b;
  overflow: hidden;
  margin-left:-10%;
  
}
#result_content{
  
}
.goback{
  display:inline-block;
  height:40px;
  line-height:40px;
  padding:0 12px;
  background:#dc1f2b;
  font-size:14px;
  color:white;
  position:absolute;
  left:10px;
  top:10px;
  z-index: 99999;
  margin-left:5px;
}
.goback:hover{
  background:#26B8F3;
}
.goback .fa{
  margin-right:5px; 
}

#test{
    font-size:30px;
}
#result_content .progress{
    width:400px;
    border:1px solid #ccc;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
  }
#result_content  .Bar{
    width:50%;
    height: 28px;
    background: #5BC0DE;
  }
#result_content .blue{
    background: #5BC0DE;
  }
#result_content  .red{
    background: #D9534F;
  }
#result_content .green{
    background: green;
  }