<!-- Content -->
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6 mainbody"></div>
                <br>
                <h2 class="text-center">You're In!</h2>
                <div class="heading text-left">
                    <span class="lead">Congratulations for embarking on this journey of reimagining banking! Over the next few days, you will hear from Group CEO Piyush Gupta,  Sim S. Lim, our Singapore Country Head and members of his management committee, as well as some of your peers.
                    <br /><br/>
                    Ready? Let’s begin!
                    <br />
                    <a href="" ng-click="changePage('menu')" type="button" class="btn btn-primary loginBtn" style="float:right">Next</a>
                    </span>
                </div>
                <div class="text-right lead"></div>
                <br>
                <div class="col-md-3"></div>
                <!-- end: Portfolio: Image Zoom -->
                <div style="padding: 0">
                    <img class="img-responsive" src="images/DBS_header.jpg"/>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Content -->
    <!--<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>-->
    