<section class="sidebar-right">
        <div class="container">
            <div class="row" id="search">
                <!-- content -->
                <div class="col-md-2">
                </div>
                <div ng-click="changePage('questionList')" class="goback"><i class="fa fa-angle-left"></i>Back</div>
                <div class="content col-md-6 mainbody" id="addsearch_content">
                        <div class="page-header">
                                <h1>创建新的问题</h1>
                              </div>
                              <form role="form" ng-submit="createPoll()">
                                <div class="form-group">
                                  <label for="pollQuestion">问题</label>
                                  <input type="text" ng-model="data.addquestionName" class="form-control" id="pollQuestion" placeholder="投票题目">
                                </div>
                                <div class="form-group">
                                        <label for="pollQuestion">描述</label>
                                        <input type="text" ng-model="data.addquestionDesc" class="form-control" id="des" placeholder="投票描述">
                                      </div>
                                <div class="form-group">
                                  <label>选项</label>
                                  <div ng-repeat="choice in data.createArray">
                                    <input type="text" ng-model="choice.text" class="form-control" placeholder="选项{{$index+1}}"><br>
                                  </div>
                                </div>    
                                <div class="row">
                                  <!-- <div class="col-xs-12">
                                     <button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> 增加选项</button>
                                  </div> -->
                                </div>
                                <p><hr></p>
                                <div class="row">
                                  <div class="col-xs-6">
                                    <a href="" ng-click="questionGoback()" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> 返回列表</a>
                                  </div>
                                  <div class="col-xs-6">
                                    <button class="btn btn-primary pull-right" type="submit" ng-click="questionNew();">创建 &raquo;</button>
                                  </div>
                                </div>
                                <p>&nbsp;</p>
                              </form>
                   
                    
                </div>
            </div>
        </div>
</section>