<section id="" class="sidebar-right">
    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="col-md-2">
            </div>
            <div class="content col-md-8 mainbody">
                <!-- Blog -->
                <div id="blog" class="single-post">
                    <!-- Post single item-->
                    <br>
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <h2>Ask SGMC</h2>
                            <p>
                                Do you have a question that you want to ask? Or do you want some career advice? Whatever it is, just ask and you shall get the answer!
                            </p>
                            <p>
                                The Singapore Management Committee (SGMC) will answer your questions at a special townhall this Friday (28 July) at 3.00pm at the auditorium at MBFC Level 3.
                            </p>
                        </div>
                        <!--<div width="100%" class="pigeonhole-iframe"></div>-->
                    </div>
                    <!-- end: Post single item-->
                </div>

                <div ng-include="'vp2017/templates/comments.html'"></div>
            </div>
            <!-- end: content -->

            <!-- Sidebar-->
            <!--<div class="sidebar col-md-4">-->
                <!--<div class="">-->
                    <!--&lt;!&ndash;Tabs with Posts&ndash;&gt;-->
                    <!--<div class="widget">-->
                        <!--<div class="post-thumbnail-list">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;End: Tabs with Posts&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!-- end: sidebar-->
        </div>
    </div>
</section>
