<section class="sidebar-right">
    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="col-md-2">
            </div>
            <div class="content col-md-6 mainbody">
                <!-- Blog -->
                <div id="blog" class="single-post">
                    <!-- Post single item-->
                    <div class="post-item">
                        <br>
                        <div class="post-item-wrap">
                            <h2>{{pageData.title}}</h2>
                            <div ng-if="pageData.day == 3" class="post-item-description">
                                <blockquote>
                                    <p>Looking at how the nature of work will change the environment and how it will impact us in the next 3 years. You either embark on the journey [of reimagining yourselves] or get left behind.</p>
                                </blockquote>
                                <p class="text-right"><b>Jimmy Ng</b><br />Head, Group Audit</p>
                            </div>
                            <p ng-if="pageData.text1">{{pageData.text1}}</p>
                            <p ng-if="pageData.text2">{{pageData.text2}}</p>

                            <div ng-if="pageData.day == 5" width="100%" style="text-align:center">
                                <hr/>
                                <a class="btn btn-primary" href="You_have_a_say_Ask_SGMC_anything.ics">save the date/add to calendar</a>
                                <hr/>
                            </div>

                            <div ng-if="pageData.day != 5" class="post-video">
                                <video ng-repeat="video in pageData.videos" class="day-video" width="100%" ng-attr-poster="{{video.poster}}" controls>
                                    <source ng-src="{{video.src}}" type="video/mp4" />
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>

                            <!-- todo: change this dummy video -->
                            <div ng-if="pageData.day == 5" class="post-video">
                                <iframe id="kaltura_player" src="https://cdnapisec.kaltura.com/p/2417911/sp/241791100/embedIframeJs/uiconf_id/42868821/partner_id/2417911?iframeembed=true&playerId=kaltura_player&entry_id=1_sg9l7u8r&flashvars[streamerType]=auto&amp;flashvars[localizationCode]=en&amp;flashvars[leadWithHTML5]=true&amp;flashvars[sideBarContainer.plugin]=true&amp;flashvars[sideBarContainer.position]=left&amp;flashvars[sideBarContainer.clickToClose]=true&amp;flashvars[chapters.plugin]=true&amp;flashvars[chapters.layout]=vertical&amp;flashvars[chapters.thumbnailRotator]=false&amp;flashvars[streamSelector.plugin]=true&amp;flashvars[EmbedPlayer.SpinnerTarget]=videoHolder&amp;flashvars[dualScreen.plugin]=true&amp;&wid=0_ws0csptf" width="642" height="400" allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0" title="Kaltura Player"></iframe>
                            </div>

                            <div class="post-navigation">
                                <a ng-if="pageData.day != 1" href="" ng-click="changePage('day' + (pageData.day - 1))" class="post-prev">
                                    <div class="post-prev-title"><span>Day {{pageData.day - 1}}</span>{{pageData.previousBtnText}}</div>
                                </a>
                                <a href="" ng-click="changePage('menu')" class="post-all">
                                    <span style="color:#888;font-size:12px;margin-left:-2px">Home</span>
                                    <i class="fa fa-th"></i>
                                </a>
                                
                                <a ng-if="pageData.day != 5" href="" ng-click="changePage('day' + (pageData.day + 1))" class="post-next">
                                    <div class="post-next-title"><span>Day {{pageData.day + 1}}</span>{{pageData.nextBtnText}}</div>
                                </a>
                            </div>
                            <div ng-if="pageData.question != true" ng-click="changePage('questionList')" style="color:white;background:red;display:inline-block;height:40px;line-height:40px;z-index:100;margin:0 auto;padding:0 12px;">take a quiz</div>
                            <br><br>
                            <hr>
                            <div class="lead">
                                {{pageData.commentQuestion}}
                            </div>
                            <div ng-include="'vp2017/templates/comments.html'"></div>
                        </div>
                    </div>
                    <!-- end: Post single item-->
                </div>

            </div>
            <!-- end: content -->
        </div>
    </div>
</section>
<!-- end: Page Content -->
     
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        // Initialize instances:
        var socket = io.connect();
        var siofu = new SocketIOFileUpload(socket);

        siofu.listenOnSubmit(document.getElementById("sendMessage"), document.getElementById("select_btn"));

        // Do something on upload progress:
        siofu.addEventListener("progress", function(event){
            var percent = event.bytesLoaded / event.file.size * 100;
            console.log("File is", percent.toFixed(2), "percent loaded");
            $("#upload_percentage").text("Sending " + percent.toFixed(2) + "%");
        });

        // Do something when a file is uploaded:
        siofu.addEventListener("complete", function(event){
            $("#source_image").attr("src", "");
            $("#upload_percentage").text("");
            $("#source_image").hide();
            console.log(event.success);
            //console.log(event.file);
            var message = $(".inputComment").val();
            console.log("FILE EVENT: " + event.detail.pathName);
            newImage(event.detail, message);
        });

//        var vid = document.getElementById("day-video");
        $(".day-video").onpause = function() {
            pauseVideo();
        };
        $(".day-video").onended = function() {
            var currentLoc = window.getCurrentLoc()
            var day = currentLoc.slice(-1);
            console.log("00 mark: submitAnswer, day=" + day)
            submitAnswer({day: day, question: 1, answer: 1, points: 10});
        };
    }, false);

    function processAnswer(data) {
        console.log("processAnswer", JSON.stringify(data));
        if(data == null)
            return;
        if(data.day == 1) {
            if(data.question == 1) {
                if(data.status && data.points > 0) {
                    congratbox("Congratulations! You have earned "+data.points+" points.<br><br>You've also earned a chance to play ScratchCard game!");
                    checkVideo(1);
                } else if (data.status) {
                    congratbox("You have watched this video earlier.");
                }
            } else if(data.question == 2) {
                if(data.status && data.points > 0) {
                    congratbox("Congratulations! You have earned "+data.points+" points.");
                }
            }
        }
    }
</script>