<!DOCTYPE html>
<html lang="en">
<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<meta name="author" content="DBS" /> 
	<meta name="description" content="Themeforest Template Polo"> 
	<!-- Document title --> <title>DBS - Reimagine Banking</title> 
	<!-- Stylesheets & Fonts -->  
	<link href="css/plugins.css" rel="stylesheet"> 
	<link href="css/style.css" rel="stylesheet"> 
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/color-variations/red-dark.css" rel="stylesheet" type="text/css" media="screen">
	<link href="css/custom.css" rel="stylesheet">
</head>
<body class="no-page-loader">	

    <!-- Wrapper -->
    <div id="wrapper">

		<!-- alertBox modal -->
		<div class="modal fade" id="sm-alertbox" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title red-text">Alert</h4>
			  </div>
			  <div class="modal-body black-text" id="alertbox"></div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			  </div>
			</div>
		  </div>
		</div>
		<!-- alertBox modal -->
    
        <!-- Header -->
        <header id="header" class="header-fullwidth header-dark-transparent dark">
            <div id="header-wrap">
                <div class="container"> <!--Logo-->
                    <div id="logo">
                        <!-- <a href="index.html" class="logo" data-dark-logo="images/logo-dark.png"> <img src="images/logo.png" alt="Polo Logo"> </a> -->
                        <a href="menu.html" class="logo"> VP ENGAGEMENT 2017 </a>
                    </div>
                    <!--End: Logo-->

                                        <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->

<!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                	<li><a href="menu.html">Daily Themes</a>
                                        <ul id="menu-list" class="dropdown-menu">
                                        	<li><a href="day1.html">Day 1 - Reimagine Banking</a></li>
                                        	<li><a href="day2.html">Day 2 - Reimagine the Way We Work</a></li>
                                        	<li><a href="day3.html">Day 3 - Reimagine Ourselves </a></li>
                                        	<li><a href="day4.html">Day 4 - Tips & Tricks from Sim</a></li>
                                        	<li><a href="day5.html">Day 5 - You Have a Say! </a></li>
                                        </ul>                                	
                                	</li>
                                	<li><a href="ask.html">Ask SGMC Anything</a></li>
                                	<li><a href="help.html">Help</a></li>
                                	<li><a href="leaderboard.html">Leaderboard</a></li>
                                	<li><a href="profile.html">My Page</a></li>
                                	<li><a href="#" id="logout">Logout</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        <!-- Page Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
					<div class="col-md-2">
					</div>                    
                    <div class="content col-md-8">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
									<div class="panel-group" id="accordion">
									  <div class="panel">
										<div class="panel-heading highlight"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 
										  <h3 class="panel-title"> <span style="float:right" class="icon icon-plus-sign"></span> Familiarising yourself </h3>
										</a> 
										</div>
										<div id="collapseOne" class="panel-collapse collapse">
										  <div class="panel-body grey black-text">	
												<p><b>Home Page:</b><br>
												The Home Page is where you find out what’s happening and what the theme is for each day. 
Activities are grouped by day and clicking on each theme lets you dive right in!</p> 	
												<p>Remember to bookmark this address so you can return with ease - <a href="https://go.dbs.com/reimaginebanking"> https://go.dbs.com/reimaginebanking</a></p>
										  </div>
										</div>
									  </div>
									  <div class="panel">
										<div class="panel-heading highlight">
										  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> 
										  <h3 class="panel-title">	
										  What to do once you’re logged in </h3>
										  </a>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
										  <div class="panel-body grey black-text">
											<b>Watch the daily video:</b>
											<p>Learn more about the conversation topics through interactive video resources. View the videos and gain points for the day. </p>	
											<hr/>						
											<b>Complete your activities for the day:</b>
											<p>Answer a question, upload a photo or simply let us know what you think! Complete the daily challenge to earn extra points. But remember to be honest!</p>
											<hr/>						
											<b>Ask Sim & his SGMC anything:</b>
											<p>Always wondered why things are done a certain way? Have an idea that will be the next game changer? Or would you love some career advice from Sim? Send all of them in! They want to hear about what drives you and what you’d like to achieve in DBS. Ask and they will try to answer!</p>											
										  </div>
										</div>
									  </div>
									  <div class="panel">
										<div class="panel-heading highlight">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										  <h3 class="panel-title">
											  <span style="float:right" class="icon icon-plus-sign"></span>	
											 Frequently Asked Questions
										  </h3>
											</a>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
										  <div class="panel-body grey black-text">
											<b>Q: How can I win the daily prizes?</b>
											<p><b>A: </b>Those of you who that earn the most points each day will be selected daily to win a bonus prize. What’s more, if you watch the daily video you will be given the change to scratch and win! There are Foodpanda vouchers to be won each day! So what are you waiting for? Start earning those points! 6 prizes to be won daily and 3 grand prizes at the end of the week!</p>

											<b>Q: How will I be notified that I’ve won a prize?</b>
											<p><b>A: </b>If you’ve been paying attention and have managed to earn the most points for the day, your name will appear as a daily winner on the leader board. The scratch and win game is an instant win so you will know immediately after playing what, if any, prize you have won. If you’re lucky enough to be a winner, the voucher you win will appear in your voucher wallet – simply visit ‘My Page’ to see your vouchers! </p>
																						
											<b>Q: How can I find out how many points I’ve earned so far?</b>
											<p><b>A: </b>You can visit ‘My Page’ at any time to see how many points you have accumulated. Remember, the more activities you complete, the more points you earn!</p>
										  </div>
										</div>
									  </div>
									  <!--4th-->
									  
									  <div class="panel">
										<div class="panel-heading highlight">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
											  <span style="float:right" class="icon icon-plus-sign"></span>	
										  <h3 class="panel-title">
										Need Help?
										  </h3>
											</a>
										</div>
										<div id="collapseFour" class="panel-collapse collapse">
										  <div class="panel-body grey black-text">
											<p class="black-text">Need some help? Simply email: <a href="mailto:support@3radical.com" style="color:red"> support@3radical.com</a> or call <b>9007 5967</b></p>
										   
										  </div>
										</div>
									  </div>
                                
                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>

                    </div>
                    <!-- end: content -->

                    <!-- Sidebar-->
                    <div class="sidebar col-md-4">
                        <div class="">
                            <!--Tabs with Posts-->
                            <div class="widget">
                                <div class="post-thumbnail-list">
                                </div>                            
                            </div>
                            <!--End: Tabs with Posts-->
                        </div>
                    </div>
                    <!-- end: sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
    </div>
    <!-- end: Wrapper -->

    <!-- Go to top button -->
    <!--<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>-->

 <!--Plugins-->
 <script src="js/Base64.min.js"></script> 
 <script src="js/jquery.js"></script>
 <script src="js/plugins.js"></script>

<!--Template functions-->
 <script src="js/functions.js"></script> 
     <script src="/socket.io/socket.io.js"></script>
     <script src="../js/chat.js"></script>  
     <script src="../js/lib/moment.min.js"></script>
     <script src="../js/client.js"></script>
     <script src="../js/custom.js"></script>
     
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){

    // Initialize instances:
    var socket = io.connect();
    var siofu = new SocketIOFileUpload(socket);

    // Configure the three ways that SocketIOFileUpload can read files:
    //document.getElementById("upload_btn").addEventListener("click", siofu.prompt, false);
    //siofu.listenOnInput(document.getElementById("select_btn"));
    //siofu.listenOnDrop(document.getElementById("file_drop"));
    //siofu.listenOnUpload(document.getElementById("jpeg_upload_button"),document.getElementById("result_image"));    
    siofu.listenOnSubmit(document.getElementById("sendMessage"), document.getElementById("select_btn"));

    // Do something on upload progress:
    siofu.addEventListener("progress", function(event){
        var percent = event.bytesLoaded / event.file.size * 100;
        console.log("File is", percent.toFixed(2), "percent loaded");
        $("#upload_percentage").text("Sending " + percent.toFixed(2) + "%"); 
    });

    // Do something when a file is uploaded:
    siofu.addEventListener("complete", function(event){
    	$("#source_image").attr("src", "");
    	$("#upload_percentage").text("");
    	$("#source_image").hide();
        console.log(event.success);
        //console.log(event.file);
        var message = $(".inputComment").val();
        console.log("FILE EVENT: " + event.detail.pathName);
        newImage(event.detail, message);
    });

}, false);
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102808148-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
