<!-- Wrapper -->
<div id="wrapper">
	<!-- Page title -->
	<section id="page-title" data-parallax-image="vp2017/images/login_banner.jpg">
		<div class="container">
			<div class="page-title">
					<h2 style="margin-bottom:0;"><span class="dbsColor">REIMAGINE</span></h2>
					<h3><span  class="dbsColor"> Banking </span></h3>
					<p class="text-dark lead" style="color:#fff !important;font-weight:bold;">
						24 – 28 July 2017
						<br>
						Digital Engagement for all Singapore-based VPs.
						<br>
						By invitation only.
					</p>
			</div>
		</div>
	</section>
	<!-- end: Page title -->

	<!-- Content -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8 mainbody">
					<p>
						<h4>How to play:</h4>
						<ol style="list-style-type:decimal">
							<li>Each day, new activities will be unlocked.</li>
							<li>Complete the activities – watch a video, leave a comment, share some photos – to earn points (and bragging rights for yourself and your BU/SU).</li>
							<li>Complete at least one activity each day to have a chance to play our scratch card and win some instant rewards!</li>
							<li>Make your mark on the leaderboard. Win prizes and as Sim always says, have fun!</li>
						</ol>
					</p>
					<hr>
					<h4 class="text-center">Daily Themes</h4>
					<!-- Portfolio: Image Zoom -->
					<div class="portfolio-2-columns">

						<!-- portfolio item -->
						<div ng-click="changePage('day1')" class="portfolio-item p-20 hover-3d img-zoom pf-illustrations pf-media pf-icons pf-Media">
							<div class="portfolio-item-wrap">
								<div class="portfolio-image">
									<a href=""><img src="vp2017/images/Artboard1.png" alt="Day1"></a>
								</div>
								<div class="portfolio-description">
									<a href="">
										<h3>Reimagine Banking</h3>
										<span>Watch video of Sim & members of SGMC</span>
									</a>
								</div>
							</div>
							<div class="text-center lead">
								<a href=""><span class="">Day 1 - Reimagine Banking</span></a>
							</div>
						</div>
						<!-- end: portfolio item -->
						<!-- portfolio item -->
						<div ng-click="changePage('day2')" class="portfolio-item p-20 hover-3d img-zoom pf-illustrations pf-media pf-icons pf-Media">
							<div class="portfolio-item-wrap">
								<div class="portfolio-image">
									<a href=""><img src="vp2017/images/Reimagine_the_way_we_work.jpg" alt="Day2"></a>
								</div>
								<div class="portfolio-description">
									<a href="">
										<h3>Reimagine the Way We Work</h3>
										<span>Watch video of Piyush at the Singapore Leadership Conference 2017</span>
									</a>
								</div>
							</div>
							<div class="text-center lead">
								<a href=""><span class="">Day 2 - Reimagine the Way We Work</span></a>
							</div>
						</div>
						<!-- end: portfolio item -->

						<!-- portfolio item -->
						<div ng-click="changePage('day3')" class="portfolio-item p-20 hover-3d img-zoom pf-illustrations pf-media pf-icons pf-Media">
							<div class="portfolio-item-wrap">
								<div class="portfolio-image">
									<a href=""><img src="vp2017/images/Reimagine_Ourselves.jpg" alt="Day3"></a>
								</div>
								<div class="portfolio-description">
									<a href="">
										<h3>Reimagine Ourselves</h3>
										<span>Hear from Sim and two of your peers.</span>
									</a>
								</div>
							</div>
							<div class="text-center lead">
								<a href=""><span class="">Day 3 - Reimagine Ourselves</span></a>
							</div>
						</div>
						<!-- end: portfolio item -->
						<!-- portfolio item -->
						<div ng-click="changePage('day4')" class="portfolio-item p-20 hover-3d img-zoom pf-illustrations pf-media pf-icons pf-Media">
							<div class="portfolio-item-wrap">
								<div class="portfolio-image">
									<a href=""><img src="vp2017/images/Artboard4.jpg" alt="Day4"></a>
								</div>
								<div class="portfolio-description">
									<a href="">
										<h3>Tips & Tricks From Sim</h3>
										<span>Let Sim share his experiences and approach to life.</span>
									</a>
								</div>
							</div>
							<div class="text-center lead">
								<a href=""><span class="">Day 4 - Tips & Tricks from Sim</span></a>
							</div>
						</div>
						<!-- end: portfolio item -->
						<!-- portfolio item -->
						<div ng-click="changePage('day5')" class="portfolio-item p-20 hover-3d img-zoom pf-illustrations pf-media pf-icons pf-Media">
							<div class="portfolio-item-wrap">
								<div class="portfolio-image">
									<a href=""><img src="vp2017/images/You_have_a_say.jpg" alt="Day5"></a>
								</div>
								<div class="portfolio-description">
									<a href="">
										<h3>You have a say!</h3>
										<span>Join SGMC at the townhall at MBFC Level 3 auditorium</span>
									</a>
								</div>
							</div>
							<div class="text-center lead">
								<a href=""><span class="">Day 5 - You Have a Say!</span></a>
							</div>
						</div>
						<!-- end: portfolio item -->

					</div>
					<div class="col-md-2">
					</div>
				</div>
			<!-- end: Portfolio: Image Zoom -->
			</div>
		</div>
	</section>
	<!-- end: Content -->
</div>
<!-- end: Wrapper -->
<!--<a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>-->