<section class="sidebar-right">
    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="col-md-2">
            </div>
            <div ng-click="questionGoback()" class="goback"><i class="fa fa-angle-left"></i>Back</div>
            <div class="content col-md-6 mainbody" id="question_content">
                <!-- Blog -->
                <div class="head">DAILY POLL</div>
                <ul class="list">
                    <!-- <li ng-repeat="item in pageData.questionList">
                        <input type="radio" name="question" value="1" ng-model="pageData.questionAnswer" />
                        {{item}}
                    </li> -->
                    <div>{{data.questionArray.name}}</div>
                    <label ng-repeat="item in data.questionArray.answers">
                        <input type="radio" name="demo" value="{{item}}" ng-model="$parent.demo">{{item}}
                    </label>
                    <!-- <h1>{{demo}}</h1> -->
                </ul>
                <button class="submitVote" ng-click="questionVote(demo)">提交</button>         
                </div>

            </div>
        
    </div>
</section>

     
