<section class="sidebar-right">
        <div class="container">
            <div class="row">
                <!-- content -->
                <div class="col-md-2">
                </div>
                <div class="goback" ng-click="questionGoback()"><i class="fa fa-angle-left"></i>Back</div>
                <div class="content col-md-6 mainbody" id="questionList_content">
                    <div class="head"></div>

                            <div class="post-item-wrap" id="questionList">
                                <div ng-if='data.questionCreateShow' ng-click="changePage('addsearch')">create</div>
                                    
                                    <ul >
                                       
                                        <li ng-repeat="item in pageData.List">
                                           <a href="" ng-click="changePage('question')">{{item.content}}</a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                     
    
                </div>
                <!-- end: content -->
           
        </div>
    </section>
    
         
    